/* вторичный цвет текста #212121 */
/*цвет основного текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */

/* Стили для index.html */

body {
  color: #757575;
  background-color: #e5e5e5;
}
.logo-span {
  color: #2196f3;
}
